body, a, a:hover { cursor:url('http://www.dolliehost.com/dolliecrave/cursors/cursors-arrow/arrow38.gif'), auto }

@font-face {
    font-family: 'teen';
    src: url('teen-webfont.eot');
    src: url('teen-webfont.eot?#iefix') format('embedded-opentype'),
         url('teen-webfont.woff2') format('woff2'),
         url('teen-webfont.woff') format('woff'),
         url('teen-webfont.ttf') format('truetype'),
         url('teen-webfont.svg#teenregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'claphappy';
    src: url('claphappy-webfont.eot');
    src: url('claphappy-webfont.eot?#iefix') format('embedded-opentype'),
         url('claphappy-webfont.woff2') format('woff2'),
         url('claphappy-webfont.woff') format('woff'),
         url('claphappy-webfont.ttf') format('truetype'),
         url('claphappy-webfont.svg#claphappymedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	background-color:#EFF4F9;
font-family: "claphappy"; 
}

.intro {
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
    font-family: "claphappy";
}

#tp{
position: absolute;
}

.intro2{
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
}

#tp2{
font-family:"teen";
}

.navbar-default {
    background-color:#FFA3FF;
    border-color:#D7E2EB; 
}
.navbar-default .navbar-fnt {
    font-family:"claphappy";
}

.blahblah {
padding-top: 10px;
padding-bottom: 10px;
padding-left: 30px;
padding-right: 30px;
}

#pls {
padding-top: 50px;
padding-bottom: 20px;
}

.smallscreen2{
font-family:"claphappy";
width: 800px;
height: 800px;
border: 0px solid;
color:#000000;
}

.container {
      display: inline-block;
      float: left;
    }

.right {
padding-left: 15px;
padding-right: 15px;
padding-bottom: 50px;
}

