body{
background-color:#FFCCCC;
size (800,800);
}
.intro {
color:#CC0099;
font-style: "oblique";
font-family: "myFirstFont";
}
.loading {
  position: fixed;
  z-index: 999;
  height: 600px;
  width: 600px;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

}
