body{
background-color:#FFCCCC;
}
#intro {
color:#CC0099;
font-style: "oblique";
font-family: myFirstFont;
}

#context {
font-family: myFirstFont;
}

}



@font-face {
    font-family: myFirstFont;
    src: url(cartoonist_hand.ttf);
}
