body{
background-color:#FFCCCC;
}
#intro {
color:#CC0099;
font-style: "oblique";
font-family: Claphappy;
}

#context {
font-family: Claphappy;
}

}

@font-face{
	font-family: Claphappy; 
	src: url(Claphappy.ttf);

}


