body { 
	margin:100; 
	padding:50; 
}

#container { 
	position:relative; 
	margin: 0px auto; 
	width: 80%;
}

#map { 
	position:relative; 
	height: 500px; 
	width:200px; 
}

.popupimage { 
	width: 200px; 
}

