body, a, a:hover { cursor:url('http://www.dolliehost.com/dolliecrave/cursors/cursors-arrow/arrow38.gif'), auto }
body{
	background-color:#E7FEFF;
}

.smallscreen{
font-family:"claphappy";
width: 500px;
height: 400px;
border: 1px solid;
color:#000000;
background-image: url("broom.png");
background-repeat: repeat;
background-attachment: absolute;
background-position: center;
}
.textbox
{
   position: relative;
   left: 100px;
   top: 200px;
   font-family:"claphappy";
   background: -webkit-gradient(linear, left top, left bottom, from(#be96eb), to(#98edf0));
}

#button1 {
   font-family:"claphappy";
   width: 50px;
   height: 10px;
   border-top: 1px solid #96d1f8;
   background: #98edf0;
   background: -webkit-gradient(linear, left top, left bottom, from(#be96eb), to(#98edf0));
   background: -webkit-linear-gradient(top, #be96eb, #98edf0);
   background: -moz-linear-gradient(top, #be96eb, #98edf0);
   background: -ms-linear-gradient(top, #be96eb, #98edf0);
   background: -o-linear-gradient(top, #be96eb, #98edf0);
   padding: 12px 24px;
   -webkit-border-radius: 37px;
   -moz-border-radius: 37px;
   border-radius: 37px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #000000;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
	position: absolute;
   left: 400px;
   top: 350px;
   }
#button1:hover {
   border-top-color: #be96eb;
   background: #be96eb;
   color: #000000;
   }
#button1:active {
   border-top-color: #be96eb;
   background: #be96eb;
   }

#button2 {
   font-family:"claphappy";
   width: 50px;
   height: 10px;
   border-top: 1px solid #96d1f8;
   background: #98edf0;
   background: -webkit-gradient(linear, left top, left bottom, from(#be96eb), to(#98edf0));
   background: -webkit-linear-gradient(top, #be96eb, #98edf0);
   background: -moz-linear-gradient(top, #be96eb, #98edf0);
   background: -ms-linear-gradient(top, #be96eb, #98edf0);
   background: -o-linear-gradient(top, #be96eb, #98edf0);
   padding: 12px 24px;
   -webkit-border-radius: 37px;
   -moz-border-radius: 37px;
   border-radius: 37px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #000000;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   	position: absolute;
   left: 400px;
   top: 300px;
   }
#button2:hover {
   border-top-color: #be96eb;
   background: #be96eb;
   color: #000000;
   }
#button2:active {
   border-top-color: #be96eb;
   background: #be96eb;
   }
.spac {
color: #FC949C;
size: 10%;
}






